<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--注入缓存管理器-->
        <!--<property name="cacheManager" ref="cacheManager"/>-->
        <!-- Single realm app.  If you have multiple realms, use the 'realms' property instead. -->
        <!--session的管理方式-->
        <property name="sessionMode" value="native"/>
        <!--注入Realm的实现类-->
        <property name="realm" ref="userRealm"/>
    </bean>

    <!--缓存管理器:暂时不用-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <!-- Set a net.sf.ehcache.CacheManager instance here if you already have one.  If not, a new one
             will be creaed with a default config:
             <property name="cacheManager" ref="ehCacheManager"/> -->
        <!-- If you don't have a pre-built net.sf.ehcache.CacheManager instance to inject, but you want
             a specific Ehcache configuration to be used, specify that here.  If you don't, a default
             will be used.:
        <property name="cacheManagerConfigFile" value="classpath:some/path/to/ehcache.xml"/> -->
    </bean>


    <!--配置自定义的Realm-->
    <bean id="userRealm" class="com.aaa.realm.UserRealm">
<!--        <property name="name" -->
        <!--密码匹配器-->
     <!--<property name="credentialsMatcher">-->
            <!--&lt;!&ndash; The 'bootstrapDataPopulator' Sha256 hashes the password-->
                 <!--(using the username as the salt) then base64 encodes it: &ndash;&gt;-->
            <!--<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">-->
                <!--<property name="hashAlgorithmName" value="MD5"/>-->
                <!--&lt;!&ndash; true means hex encoded, false means base64 encoded &ndash;&gt;-->
                <!--<property name="storedCredentialsHexEncoded" value="true"/>-->
                <!--<property name="hashIterations" value="1024"/>-->
            <!--</bean>-->
        <!--</property>-->
    </bean>

    <!-- =========================================================
         Shiro Spring-specific integration
         ========================================================= -->
    <!-- Post processor that automatically invokes init() and destroy() methods
         for Spring-configured Shiro objects so you don't have to
         1) specify an init-method and destroy-method attributes for every bean
            definition and
         2) even know which Shiro objects require these methods to be
            called. -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- Enable Shiro Annotations for Spring-configured beans.  Only run after
         the lifecycleBeanProcessor has run: -->
    <!--启用Shiro的注解配置：识别注解-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


    <!-- Define the Shiro Filter here (as a FactoryBean) instead of directly in web.xml -
         web.xml uses the DelegatingFilterProxy to access this bean.  This allows us
         to wire things with more control as well utilize nice Spring things such as
         PropertiesPlaceholderConfigurer and abstract beans or anything else we might need: -->
    <!--强调：id="shiroFilter"要和web.xml中过滤器的名字保持一致-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--注入安全管理器-->
        <property name="securityManager" ref="securityManager"/>
        <!--指定默认的登录页面-->
        <property name="loginUrl" value="/login.jsp"/>
        <!--认证成功后的地址-->
        <property name="successUrl" value="/index.jsp"/>
        <!--未授权的跳转页面-->
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
        <!-- The 'filters' property is not necessary since any declared javax.servlet.Filter bean
             defined will be automatically acquired and available via its beanName in chain
             definitions, but you can perform overrides or parent/child consolidated configuration
             here if you like: -->
        <!-- <property name="filters">
            <util:map>
                <entry key="aName" value-ref="someFilterPojo"/>
            </util:map>
        </property> -->
        <!--指定不同地址的过滤的规则-->
        <!--地址= 过滤器（shiro中已经创建好的）-->
        <!--anon：匿名过滤器，无需认证可以直接访问-->
        <!--authc: 认真过滤器，需要登录认证，才能访问的 页面：比如：后台管理的页面-->
        <property name="filterChainDefinitions">
            <value>
                /favicon.ico = anon
                /static/** = anon
                /user/** = anon
                /*.jar = anon
                /logout=logout
                /** = authc
            </value>
        </property>
    </bean>
</beans>